<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapport pdf</title>
</head>
<body>
    <div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Name</th><th>Phone</th><th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for partner in partners %}
                    <tr>
                        <td>{{ partner.name }}</td>
                        <td><span>{{ partner.phone }}</span></td>
                        <td>{{ partner.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>